@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0 auto;
	background: #ff8040;
	overflow: hidden;
	width: 1024px;
	height: 968px;
}

#left-wrap {
	background: #AAB9FF;
	width: 35%;
	height: 100%;
	float: left;
}

#right-wrap {
	position: relative;
	float: left;
	width: 70%;
}

#header {
	background: #288CD2;
	height: 20%;
}

#content {
	background: #FFDCE1;
	height: 60%;
}

#footer {
	background: #5AC8C8;
	height: 20%
}